body {
    margin: 0;
    padding: 0;
}
.bg_slider {
    width: 100%;
    max-height: 790px;
    display: flex;

}
.navbar_1 {
    z-index: 1;
    position: absolute;
    width: 100%;
    background-color: rgba(212, 1, 25, 0.88);
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
}
.navbar {
    height: 148px;
}
.slider_light{

}
.navbar-brand {
    width: 205px;
    height: 102px;
    background-color: #fff;
}
.container {
    max-width: 1500px;
}
.munuColumn {
    flex-direction: column;
    height: 120px;
    justify-content: space-around;

}
.navbar-light .navbar-nav .nav-link {
    color: white;
    font-family: Georgia, sans-serif;
    font-size: 17px;
    font-weight: 400;
}
.nav-item {
    padding: 8px;
}
.menu_top {
    border-bottom: 2px solid #e56775;
    height: 60px;
    width: 88%;
    display: flex;
}
.meny_left {
    width: 40%;
    height: 100%;
    display: flex;
}
.menu_right {
    width: 60%;
    height: 85%;
}
.col-5 {
    border-right:  2px solid #e56775;
}
.col-3 {
    border-right: 2px solid #e56775;;
}
.col-3:last-child {
    border-right: none;
}
.adress {
    color: white;
    font-family: Georgia, sans-serif;
    font-size: 15px;
    margin-left: 30px;
    margin-top: -20px;
}
.adress_1 {
    color: white;
    font-family: Georgia, sans-serif;
    font-size: 15px;
    margin-top: -17px;
    margin-left: 30px;
}
.ico_location {
    color: white;
    position: relative;
    top: 15px;
}


.zagolok {
    position: absolute;
    display: flex;
    align-items: center;
    margin-top: 160px;
    margin-left: 200px;
    justify-content: center;
}
.col-10 {
    text-align: center;
}
.header_h1 {
    color: white;
    font-size: 49px;
    font-family: Georgia, sans-serif;
    margin-top: 100px;
    font-weight: 400;
    text-transform: uppercase;
}
.header_text {
    color: white;
    font-family: Georgia, sans-serif;
    font-size: 27px;
    font-weight: 400;
    margin-top: 60px;
}
.carousel-indicators .active {
    width: 20px;
    height: 20px;
    margin-top: -2px;

}
.carousel-indicators li {
    height: 15px;
    width: 15px;
    border: 1px solid white;
    border-radius: 50%;
    background-color: rgba(255,255,255,0);
}
.carousel-indicators {
    align-items: center;
    bottom: 26%;
}
#bg_destop_mb {
    display: none;
}
.tur {
    width: 100%;
    min-height: 870px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.h2_tur {
    text-align: center;
    margin-top: 100px;
    font-size: 41px;
    font-family: Georgia, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}
.tur_text {
    text-align: center;
    font-family: Georgia, sans-serif;
    font-size: 21px;
    font-weight: 400;
}

.tur_cont {
    margin-top: 70px;
}
.card {
    -webkit-box-shadow: 1px 1px 12px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 12px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 12px 0px rgba(0,0,0,0.75);
    overflow: hidden;
}
.card-title {
    border-bottom: 1px solid #d8d9db;
    width: 70%;
    font-family: Georgia, sans-serif;
    margin-top: 41px;
    font-size: 17px;
}
.card-text {
    text-transform: uppercase;
    font-size: 14px;
    font-family: Georgia, sans-serif;
}
.small_text {
    font-family: Georgia, sans-serif;
    font-size: 14px;
}
.small_text-1 {
    font-family: Georgia, sans-serif;
    font-size: 14px;
    margin-top: -10px;
}
.prise {
    position: absolute;
    margin-top: 33px;
    margin-left: 163px;
    width: 45%;
    height: 50px;
    display: flex;
    border-bottom: 56px solid #252e37;
    border-left: 48px solid transparent;
    border-right: 0px solid transparent;
}
.prise_fire {
    font-size: 24px;
    color: white;
    margin-top: 13px;

}
.prise_dollars {
    color: white;
    font-family: Georgia, sans-serif;
    font-size: 16px;
    margin-top: 15px;
    margin-left: 5px;
}
.card {
    margin-left: 20px;
    margin-right: 20px;
    width: 342px;
    height: 450px;
}
.card-deck_1 {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.tur_battons {
    width: 40%;
    position: absolute;
    height: 35px;
    border: 1px solid #d8d9db;
    display: flex;
    margin-top: -55px;
    margin-left: 174px;
    color: #252e37;
    font-family: Georgia, sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    justify-content: center;
    /*background-color: #cf1327;*/
    border-radius: 3px;
    background-color: white;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
}
.tur_battons::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #cf1327;
    bottom: -100%;
    left: 0;
    transition: all 0.5s ease;
    /*opacity: 0.5;*/
    z-index: -1;
}
.tur_battons:hover {
    color: white;
}
.tur_battons:hover::before {
    bottom: 0;
}
.stars {
    width: 100%;
    height: 25px;
    display: flex;
    position: absolute;
    background-color: rgba(37, 46, 55, 0.38);
    justify-content: space-between;
}
.ico_srars {
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: space-around;
}
.stars_ico {
    color: white;
    font-size: 12px;
}
.see {
    font-family: Georgia, sans-serif;
    color: white;
    font-size: 14px;
    margin-top: 10px;
}
.more_tou {
    width: 260px;
    height: 45px;
    display: flex;
    margin-top: 45px;
    border: 1px solid #d8d9db;
    border-radius: 3px;
    background-color: white;
    align-items: center;
    justify-content: center;
    font-family: Georgia, sans-serif;
    font-size: 14px;
    z-index: 1;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.more_tou::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #cf1327;
    left: -100%;
    transition: all 0.5s ease;
    /*opacity: 0.5;*/
    z-index: -1;
}
.more_tous:hover {
    color: white;
}
.more_tou:hover::before {
    left: 0;
}
.ico_more {
    color: #d8d9db;
    margin-left: 10px;
    font-size: 24px;
}
.footer_bg {
    background: url("../img/bg_footer.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 425px;
    display: flex;
    flex-direction: column;
}

.fotter_bloc {
    width: 480px;
    height: 310px;
    display: flex;
    border: 1px solid white;
    margin-top: 60px;
    flex-direction: column;
}
.fotter_bloc_1 {
    width: 480px;
    height: 310px;
    display: flex;
    border: 1px solid white;
    margin-top: 60px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.fotter_bloc ul {
    margin-top: 29px;
    margin-bottom: 40px;
    margin-left: 115px;
}
.fotter_bloc ul li {
    color: white;
    padding: 2px;
}
.fotter_bloc ul li a {
    color: white;
    font-family: Georgia, sans-serif;
    font-size: 17px;
}
.contacts_block {
    width: 50%;
    height: 20%;
    display: flex;
    margin-left: 100px;
    margin-top: 5px;
    flex-direction: column;
}
.contacts_block:first-child {
    margin-top: 20px;
}
.contacts_block:last-child {
    border-bottom: 1px solid #d8d9db;
}
.ico_location_1 {
    margin-left: 40px;
}
.boss {
    margin-top: 10px;
    width: 70%;
    height: 25%;
    display: flex;
    margin-left: 100px;
}
.img_boss {
    width: 50px;
    height: 50px;
    border: 2px solid white;
    margin-top: 10px;
}
.name_boss {
    color: white;
    font-family: Georgia, sans-serif;
    font-size: 16px;
    margin-left: 40px;
    margin-top: 15px;
}
.last_name_boss {
    color: white;
    font-family: Georgia, sans-serif;
    font-size: 16px;
    margin-left: -78px;
    margin-top: 35px;
}
.copyrate {
    color: white;
    font-family: Georgia, sans-serif;
    font-size: 14px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}


@media screen and (max-width: 1850px ){
    .zagolok {
        margin-left: 100px;
    }
    .carousel-indicators {
        bottom: 20%;
    }
    .card {
        margin-top: 20px;
    }
}
.soc {
    color: white;
    font-family: Georgia, sans-serif;
    font-size: 21px;
    text-transform: uppercase;
    margin-top: 50px;
}
.socText {
    color: white;
    font-family: Georgia, sans-serif;
    font-size: 16px;
    margin-top: 20px;
}
.soc_ico {
    width: 50%;
    height: 17%;
    display: flex;
    justify-content: space-around;
}
.ico {
    width: 20%;
    height: 100%;
    color: #2a333c;
    border-radius: 5px;
    background: white;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 29px;
}


@media screen and (max-width: 1500px){
    .zagolok {
        margin-left: 0px;
    }
    .header_h1 {
        font-size: 36px;
        margin-top: 45px;
    }
    .header_text {
        font-size: 21px;
        margin-top: 34px;
    }
    .navbar-light .navbar-nav .nav-link {
        font-size: 15px;
    }
    .adress {
        font-size: 12px;
    }
    .adress_1 {
        font-size: 12px;
    }
    .ico_location {
        top: 8px;
    }
    .navbar {
        height: 113px;
    }
    .card {
        margin-left: 19px;
        margin-right: 17px;
        width: 321px;
        height: 450px;
    }
    .prise_dollars {
        font-size: 14px;
        margin-top: 18px;
    }
    .prise_fire {
        font-size: 19px;
        margin-top: 19px;
    }
    .small_text {
        font-size: 12px;
    }
    .small_text-1 {
        font-size: 12px;
    }
    .tur_battons {
        margin-top: -55px;
        margin-left: 167px;
        width: 37%;
    }
    .fotter_bloc {
        width: 420px;
    }
    .fotter_bloc_1 {
        width: 420px;
    }
    .row {
        margin-left: 0px;
    }


}

@media screen and (max-width: 1261px) {
    .nav-item {
        padding:0px;
    }
    .navbar-light .navbar-nav .nav-link {
        font-size: 12px;
    }
    .menu_right {
        width: 70%;
    }
    .meny_left {
        width: 35%;
    }
    .header_h1 {
        font-size: 28px;
        margin-top: 30px;
    }
    .header_text {
        font-size: 17px;
        margin-top: 20px;
    }
    .carousel-indicators {
        bottom: 5%;
    }
    .card-deck_1 {
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media screen and (max-width: 990px){
    .header_h1 {
        font-size: 20px;
        margin-top: 5px;
    }
    .header_text {
        font-size: 14px;
        margin-top: 20px;
    }
    .carousel-indicators {
        bottom: 0%;
    }
    .navbar {
        height: 56px;
    }
    .navbar-brand {
        width: 140px;
        height: 40px;
    }
    .meny_left {
        width: 100%;
        background-color: rgba(212, 1, 25, 0.88);
        display: none;

    }
    .menu_right {
        display: none;
    }
    .menu_top {
        background-color: rgba(212, 1, 25, 0.88);
        border-bottom: none;
        width: 100%;
        height: 96px;
    }
    .my-2 {
        background-color: rgba(212, 1, 25, 0.88);
        position: relative;
        top: -96px;
        z-index: 999;
    }
    .navbar-nav {
        width: 100%;
        align-items: center;
    }
    .zagolok {
        margin-top: 80px;
    }

}
@media screen and (max-width: 650px){
    #bg_destop {
        display: none;
    }
    #bg_destop_mb {
        display: block;
    }
    .zagolok {
        margin-top: 150px;
    }
}
@media screen and (max-width: 375px){

    .zagolok {
        margin-top: 60px;
    }
    .header_h1 {
        font-size: 18px;
    }
    .header_text {
        font-size: 13px;
    }
    .fotter_bloc_1 {
        width: 360px;
        margin-left: -18px;
    }
    .fotter_bloc {
        width: 360px;
        margin-left: -18px;
    }
    .card-deck_1 {
        margin-left: -15px;
    }

}

